<surface size="[1024,768]" style="background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 0%, #207cca 58%, #2989d8 82%, #7db9e8 100%);background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 0%,#207cca 58%,#2989d8 82%,#7db9e8 100%);background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 0%,#207cca 58%,#2989d8 82%,#7db9e8 100%);background: linear-gradient(to bottom, #1e5799 0%,#2989d8 0%,#207cca 58%,#2989d8 82%,#7db9e8 100%);"></surface>
<div ng-init="Row1=0">
    <logo size="[128,128]" origin="[0.01,0.01]" translate="[0,Row1,0,0.002]" src="./img/icon1.png">
        <text size="[100,50]" origin="[0,0]" opacity="1" translate="[48,138,1,0.002]" style="color:#fcfcfc;text-transform:capitalize;">
            Banner
        </text>
    </logo>
    <logo size="[128,128]" origin="[0.01,0.01]" translate="[158,Row1,0,0.002]" src="./img/icon1.png">
        <text size="[100,50]" origin="[0,0]" opacity="1" translate="[158+48,Row1+138,1,0.002]" style="color:#fcfcfc;text-transform:capitalize;">
            Header
        </text>
    </logo>

    <logo size="[128,128]" origin="[0.01,0.01]" translate="[316,Row1,0,0.002]" src="./img/icon1.png" >
        <text size="[100,50]" origin="[0,0]" opacity="1" translate="[316+48,Row1+138,1,0.002]" style="color:#fcfcfc;text-transform:capitalize;">
            Content
        </text>
    </logo>
</div>


<div ng-init="Row2=168">
    <logo size="[128,128]" origin="[0.01,0.01]" translate="[0,Row2,0,0.002]" src="./img/icon1.png">
        <text size="[100,50]" origin="[0,0]" opacity="1" translate="[48,Row2+138,1,0.002]" style="color:#fcfcfc;text-transform:capitalize;">
            Banner
        </text>
    </logo>
    <logo size="[128,128]" origin="[0.01,0.01]" translate="[158,Row2,0,0.002]" src="./img/icon1.png">
        <text size="[100,50]" origin="[0,0]" opacity="1" translate="[158+48,Row2+138,1,0.002]" style="color:#fcfcfc;text-transform:capitalize;">
            Header
        </text>
    </logo>

    <logo size="[128,128]" origin="[0.01,0.01]" translate="[316,Row2,0,0.002]" src="./img/icon1.png" >
        <text size="[100,50]" origin="[0,0]" opacity="1" translate="[316+48,Row2+138,1,0.002]" style="color:#fcfcfc;text-transform:capitalize;">
            Content
        </text>
    </logo>
</div>

<div>
    <logo size="[482,383]" origin="[0.01,0.01]" translate="[500,150,0,0]" src="./img/cloud.png" >
    </logo>
</div>

<!--<logo size="[100,100]" animate-at-origin="true" animate-rotatey="0.002" origin="[0.5,0.5]" src="http://dev.w3.org/SVG/tools/svgweb/samples/svg-files/cartman.svg">-->
    <!--<text size="[185,50]" align="[0,0]" origin="[0,0]" opacity="1" rotatez="4" translate="[250,0,0,0.002]" style="border:solid 1px #0c0c0c;color:blue;text-align: center;font-weight: bold;background-color: #fa5c4f">-->
        <!--สวัสดีครับผมชื่อต้น ผมกำลังลอง UI ใหม่-->
    <!--</text>-->
<!--</logo>-->
<!--<text size="[185,50]" align="[0,0]" origin="[0,0]" opacity="1" scale="[1,1,0]" rotatez="4" translate="[250,0,0,0.002]" style="border:solid 1px #0c0c0c;color:blue;text-align: center;font-weight: bold;background-color: #fa5c4f">-->