<logo size="[100,100]" animate-at-origin="true" animate-rotatey="0.002" origin="[0.5,0.5]" src="http://dev.w3.org/SVG/tools/svgweb/samples/svg-files/cartman.svg">
    <text size="[185,50]" align="[0,0]"  animate-at-origin="true" animate-rotatex="0.005" origin="[0,0]" opacity="1" scale="[1,1,0]" rotatez="4" translate="[250,0,0,0.002]" style="border:solid 1px #0c0c0c;color:blue;text-align: center;font-weight: bold;background-color: #fa5c4f">
        สวัสดีครับผมชื่อต้น ผมกำลังลอง UI ใหม่
    </text>
</logo>
